    /*header */
    header {
        width: 100%;
        min-height: 500px;
        padding-top: 3em;
    }
    header {
        background: url(images/adopt_a_pet.jpg) no-repeat rgb(255, 255, 255);
        background-size: 1500px;
        background-position: 0 -100px;
    }
    .main-header {
        background-color: chartreuse;
        width: 800px;
        margin: 2em auto 0 auto;
        min-height: 100px;
        height: 50px;
        float: left;
    }
    .main-header .logo img {
        width: 100px;
        height: 100px;
        margin: 0 2em 0 0;
        float: left;
    }
    /* navigation*/
    .main-header .main-menu {
        /* margin-left: 227px;
        font-weight: 400; */
        float: left;
    }
   
    .main-menu ul li {
        list-style-type: none;
        display: inline;
        padding-left: 20px;
        padding-right: 20px;
        border-left: 1px solid rgba(202,204,202,0.6);
        line-height: 60px;
        text-transform: uppercase;
        font-size: 20px;
    }

    /* .main-header ul li {
        list-style-type: none;
        display: inline;
        padding-left: 25px;
        padding-right: 25px;
        border-left: 1px solid rgba(202,204,202,0.6);
        line-height: 60px;
        text-transform: uppercase;
        font-size: 20px;
    } */
    .main-menu ul li a {
        text-decoration: none;
        color: red;
    }
    .main-menu ul li a:hover {
        color: blue;
    }
    .main-menu ul li.active {
        background: black;
        border: none;
    }
    .main-menu ul li.active a {
        color: #fff;
    }
   
    /* main*/
    main h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: #08fa00;
        text-decoration: underline;
    }
    main h2 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #55ACEE;
    }
    main h3 {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: #55ACEE;
    }
    /* footer */
    section {
        width: 100%;
        background-color: orange;
    }
    section h2 {
        font-size: 30px;
    }
    section li {
        font-size: medium;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    footer { 
        width: 100%;
        height: 155px;
        padding-bottom: 1em;
        background-color: chartreuse;
    }
    footer #nondisclaimer .copy {
        padding: 3.5em 3.5em 3.5em 13em;
        float: center;
        font-size: 0.9em;
    }
    footer #disclaimer p {
        font-size: 0.85em;
        text-align: center;
    }

    /* activities */
    #dognames {
        color: orange;
    }
    /* Contact */
    label {
        display: block;
        margin: 15px 0 0 0; /* top right bottom left */
      }
      input {
        width: 300px;
      }
      input[type="radio"] {
        width: 25px;
      }
      textarea {
        width: 500px;
      }
      input[type="submit"] {
        display: block;
        text-align: center;
        margin: 20px 0 10px 0;
        width: 100px;
      }
      span:first-child {
        width: 200px;
      }
          #Pets {
              display: flex;
              flex-direction: column;
              flex-wrap: wrap;
              row-gap: 60px;
    
          }
    
          .names {
              display: inline-block;
              position: absolute;
              bottom: -60px;
              left: 10px;
              visibility: visible;
          }
    
          #photo {
              display: inline;
              position: relative;
              cursor: pointer;
              visibility: visible;
          }
    
          ul li .description {
              font-size: 23px;
              background-color: aqua;
              font-weight: bolder;
              text-transform: uppercase;
              position: absolute;
              bottom: 170px;
              left: 40px;
              visibility: hidden;
            
          }
    
          #Pets #photo:hover .description {
              background-color: black;
              color: #08fa00;
              visibility: visible;
    
          } 

          ul li .description .info_box {
            background-color: black;
            color: #08fa00;
            visibility: hidden;
          }

          /* lightbox */

                  .pic,
                  #imgsrc {
                      display: inline-block;
                  }
                
                  .container {
                      display: block;
                      width: 100%;
                      line-height: 0;
                  }
        
                  .customlightbox {
                      top: 0%;
                      bottom: 0%;
                      box-sizing: border-box;
                      position: fixed;
                      left: 0;
                      right: 0;
                      background: rgba(0, 0, 0, 0.7);
                      z-index: -5;
                      opacity: 0;
                  }
        
                  .customlightbox-imgwrap {
                      width: 100%;
                      height: 100%;
                      padding: 20px;
                      box-sizing: border-box;
                      position: relative;
                      text-align: center;
                  }
        
                  .customlightbox img {
                      width: auto;
                      margin: auto;
                      max-width: 100%;
                      max-height: 100%;
                      opacity: 0;
                      position: relative;
                      top: 50%;
                      transform: translateY(-50%);
                  }
        
                  #customlightbox-controls {
                      box-sizing: border-box;
                      position: fixed;
                      height: 50px;
                      width: 50px;
                      top: -50px;
                      right: -3px;
                      z-index: 5;
                      border-left: 2px solid white;
                      border-bottom: 2px solid white;
                      opacity: .7;
                  }
        
                  #close-customlightbox {
                      display: block;
                      position: absolute;
                      overflow: hidden;
                      height: 30px;
                      width: 30px;
                      right: 10px;
                      top: 10px;
                      -webkit-transform: rotate(45deg);
                      -moz-transform: rotate(45deg);
                      -ms-transform: rotate(45deg);
                      -o-transform: rotate(45deg);
                      transform: rotate(45deg);
                  }
           
                  #close-customlightbox:after {
                      content: "";
                      display: block;
                      position: absolute;
                      width: 0px;
                      height: 2px;
                      top: 14px;
                      left: 0;
                      background: white;
                      border-radius: 2px;
                  }
        
                  .customlightbox:target {
                      z-index: 4;
                      opacity: 1;
                      display: inline-block;
                  }
        
                  .customlightbox:target img {
                      opacity: 1;
                  }
        
                  .lb-animate {
                      -webkit-transition: 0.5s ease-in-out;
                      -moz-transition: 0.5s ease-in-out;
                      -ms-transition: 0.5s ease-in-out;
                      -o-transition: 0.5s ease-in-out;
                      transition: 0.5s ease-in-out;
                  }